<p>Edit your profile</p>
<form method="POST">
    <label for="first">First Name</label>
    <input type="text" name="first" id="first" autocomplete="off" value={{profile.first}}>
        <label for="last">Last Name</label>
    <input type="text" name="last" id="last" autocomplete="off" value={{profile.last}}>
        <label for="eMail">e-mail</label>
    <input type="text" name="eMail" id="eMail" autocomplete="off" value="{{profile.e_mail}}">
        <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="off" value="">
        <label for="age">Age</label>
    <input type="text" name="age" id="age" autocomplete="off" value="{{profile.age}}">
        <label for="city">City</label>
    <input type="text" name="city" id="city" autocomplete="off" value="{{profile.city}}">
        <label for="url">Url</label>
    <input type="text" name="url" id="url" autocomplete="off" value="{{profile.url}}">
</form>