<div id="text">
{{#if cityView}}
<h3>These people in {{city}} support our petition!</h3>
{{else}}
<h3>Thank you for supporting our cause!</h3>
<p id="look">Look how many people already signed our petition:</p>
{{/if}}
<ul>
    {{#results}}
    <li>
        {{#if url}}
        <a href={{url}}>{{first}} {{last}}</a>
        {{else}}
        {{first}} {{last}}
        {{/if}}
        {{#if age}}
         | {{age}} 
        {{/if}}
        {{#if city}}
        | <a href = "/petition/signers/{{city}}">{{city}}</a>
        {{/if}}
    </li>
    {{/results}}
</ul>
{{#if notSigned}}
<a href="/petition"><p>I want to sign too!!</p></a>
{{/if}}
{{#if cityView}}
<a href="/petition/signers"><p>See all signers!</p></a>
{{/if}}
</div>
<div id="picture"></div>